:root {
  --primary-color: #f4f4f4;
  --secondary-color: #34d399;
  --bg-primary: #313131;
  --bg-secondary: #1e1e1e;
  font-family: "Roboto", sans-serif;
}

body {
  box-sizing: border-box;
  background-color: var(--bg-secondary);
  color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.btn-comp {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  border-radius: 6px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: none;
  padding: 5px;

  &:hover {
    filter: contrast(0.8);
  }
}
