:root {
  --primary-color: #f4f4f4;
  --secondary-color: #34d399;
  --bg-primary: #1e1e1e;
  --bg-secondary: #313131;
  --font-title: "Montserrat", sans-serif;
  --font-corps: "Roboto", sans-serif;
}

body {
  background-color: var(--bg-secondary);
  color: var(--primary-color);
  font-family: var(--font-corps);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  scrollbar-color: rgb(113 113 122 / 0.5) transparent;
  scrollbar-width: thin;
}
/* Pour Chrome, Edge et Safari */
body::-webkit-scrollbar {
  width: 8px; /* Largeur de la scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(
    113,
    113,
    122,
    0.5
  ); /* Couleur du "pouce" de la scrollbar */
  border-radius: 4px; /* Arrondir les bords */
}

body::-webkit-scrollbar-track {
  background: transparent; /* Couleur de l'arrière-plan de la scrollbar */
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.btn-comp {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-family: var(--font-title);
  border-radius: 6px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: none;
  padding: 10px 20px;

  &:hover {
    opacity: 0.8;
  }
}

title::after {
  content: attr(title);
  position: absolute;
  top: -100%;
  left: 0;
  border: 1px solid var(--bg-primary);
  background-color: var(--bg-secondary);
}

.btn {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}
